@theme inline {
  /* Transition Duration */
  --duration-75: 75ms;
  --duration-100: 100ms;
  --duration-150: 150ms;
  --duration-200: 200ms;
  --duration-300: 300ms;
  --duration-500: 500ms;
  --duration-700: 700ms;
  --duration-1000: 1000ms;
  --duration-1400: 1400ms;

  --ease-linear: linear;
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-smooth: cubic-bezier(0, 0, 0.2, 1);

  --transition-all: all 150ms ease-in-out;
  --transition-colors: color 150ms ease-in-out,
    background-color 150ms ease-in-out, border-color 150ms ease-in-out;
  --transition-opacity: opacity 150ms ease-in-out;
  --transition-shadow: box-shadow 150ms ease-in-out;
  --transition-transform: transform 150ms ease-in-out;
}
