@theme inline {
  /* Blue */
  --color-blue-50: #e3f2fd;
  --color-blue-100: #0288d1;
  --color-blue-150: #007bff;
  --color-blue-200: #1976d2;
  --color-blue-300: #1565c0;
  --color-blue-400: #90caf9;
  --color-blue-500: #0d47a1;

  /* Red */
  --color-red-50: #ffebee;
  --color-red-100: #d32f2f;
  --color-red-200: #c62828;
  --color-red-300: #e57373;
  --color-red-400: #ef4444;
  --color-red-500: #b71c1c;

  /* Green */
  --color-green-50: #e8f5e9;
  --color-green-100: #388e3c;
  --color-green-200: #2e7d32;
  --color-green-300: #81c784;
  --color-green-400: #1b5e20;

  /* Orange */
  --color-orange-50: #fff3e0;
  --color-orange-100: #f57c00;
  --color-orange-200: #ffb74d;
  --color-orange-300: #e65100;

  /* Gray */
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e0e0e0;
  --color-gray-300: #ddd;
  --color-gray-350: #d1d5db;
  --color-gray-400: #bdbdbd;
  --color-gray-450: #757575;
  --color-gray-500: #666;
  --color-gray-550: #6b7280;
  --color-gray-600: #424242;
  --color-gray-700: #374151;
  --color-gray-800: #333;
  --color-gray-900: #ccc;

  /* Base */
  --color-white: #fff;
  --color-black: #000;
}
